ion-content{
    --background: rgb(165,153,13); --background: linear-gradient(180deg, rgba(103 196 184) 0%, rgba(45 78 132) 100%);
    border-radius: 10px;
    
    h2{
        margin: 5px; 
        color: #ffffff;

    }
    h5{
        color:#ffffff ;
        margin: 5px;
    }
}
